body {
    padding-top: 5rem;
 }
  .tittle {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  


  .card1 {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.tips{
   text-align: center;
}

.signup {
  text-align: center;
}

.water21 {
  text-align: center;
}

.logo {
  text-align: center;
}

.col-sm300 {
  text-align: center;
}

.logo2 {
  text-align: center;
  background-position: top;
}

.bbb {
  text-align: center;
}

.button {
  color: rgb(221, 221, 241);
}

.equipment {
  text-align: center;
}

.infoss {
  text-align: center;
}

.themap {
  text-align: center;
}
